.input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input textarea {
  max-width: 500px;
  height: 100px;
  background-color: rgb(221, 229, 243);
}

.klaida p {
  color: red;
  border: solid 2px red;
  background-color: rgb(247, 213, 213);
  padding: 10px;
}

.slepti {
  display: none;
}
