.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-column > div {
  padding: 10px;
}

.flex-column > div:nth-child(1) {
  background-color: yellow;
  height: 180px;
  display: flex;
  justify-content: flex-start;
}

.flex-column > div:nth-child(2) {
  background-color: green;
  height: 220px;
  display: flex;
  justify-content: flex-end;
}

.flex-column > div:nth-child(3) {
  background-color: orange;
  height: 150px;
  display: flex;
  align-items: flex-start;
  align-items: center;
}

.flex-column > div:nth-child(4) {
  background-color: blue;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column > div:nth-child(5) {
  background-color: red;
  height: 200px;
  display: flex;
  justify-content: flex-end;
  align-items: end;
}

.flex-column > div p {
  background-color: white;
  width: 40%;
}
