body,
html {
  margin: 0;
  padding: 10px;
  background-color: rgb(212, 209, 209);
}

header {
  display: flex;
  justify-content: space-between;
}
header * {
  margin-top: 10px;
}
header a {
  margin: 0;
}

header button {
  background-color: rgb(52, 179, 126);
  font-weight: bold;
  color: white;
  border: none;
  height: 32px;
  border-radius: 10px;
}

.irasai {
  margin-top: 20px;
  display: flex;
  flex-direction: column;

  gap: 15px;
}

.post {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

.post h2,
.post p:first-of-type {
  margin: 0;
}
.post a {
  text-decoration: none !important;
  color: rgb(52, 179, 126);
}
