body,
html {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: rgb(255, 202, 164);
}

.container {
  width: 100%;
  min-width: 400px;
  max-width: 650px;
}

.info {
  display: flex;

  justify-content: space-between;
}

button {
  background-color: rgb(155, 247, 118);
  font-size: 20px;
  font-weight: bolder;
  margin: 0;
  border: black solid 2px;
  padding: 10px;
  border-radius: 10px;
}
h1 {
  margin: 10px, 0;
}

.zaidimo_langas {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  background-color: grey;
  border: black solid 2px;
  padding: 10px;

  align-items: center;
  justify-content: center;
}

.kortele {
  border: 2px black solid;
  width: 150px;
  height: 150px;
  background-color: white;
  background-position: center;
  background-size: cover;
}

.pirmas.pasirinktas {
  background-image: url("images/bear.png");
}
.antras.pasirinktas {
  background-image: url("images/cat.png");
}
.trecias.pasirinktas {
  background-image: url("images/dog.png");
}
.ketvirtas.pasirinktas {
  background-image: url("images/guinea_pig.png");
}
.penktas.pasirinktas {
  background-image: url("images/monkey.png");
}
.sestas.pasirinktas {
  background-image: url("images/octopus.png");
}

.pirmas.atspetas {
  background-color: green;
}
.antras.atspetas {
  background-color: green;
}
.trecias.atspetas {
  background-color: green;
}
.ketvirtas.atspetas {
  background-color: green;
}
.penktas.atspetas {
  background-color: green;
}
.sestas.atspetas {
  background-color: green;
}
