body {
  background-color: #f2e9d8;
  font-family: "Roboto Mono", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

h1,
h2 {
  color: rgba(0, 0, 0, 0.4);
}

body > table {
  background-image: url("images/smelis.png");
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(255, 255, 255, 0);

  background-blend-mode: lighten;
  text-transform: none;
  text-align: justify;
}
table {
  text-align: center;
  font-size: 1.8em;
}

td {
  background-color: rgba(255, 255, 255, 0.6);
}

.langeliai {
  background-color: rgba(0, 0, 0, 0.6);
}

#pirmas-paragrafas mark {
  color: blueviolet;
  background: none;
  font-family: Verdana, Geneva, sans-serif;
  font-style: italic;
  font-size: 1.5em;
  font-weight: 300;
}
a {
  color: rgb(255, 0, 0);
  font-weight: 300;
  text-decoration: none;
}
a:hover {
  color: #2d383a;
}

li {
  text-transform: lowercase;
}
