body {
  margin: 0;
}

.paieska {
  padding: 10px;
  margin-bottom: 5px;
  background-color: gray;
}
.movies-container {
  margin: 5px;
  display: flex;
  flex-wrap: wrap;

  gap: 10px;
}

.movies-container div * {
  width: 20vh;
}

.movies-container div {
  flex-basis: 17%;
}
