.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  /*background-color: #fdf7d8;*/
}

.main > .left {
  background-color: #fdf7d8;
  flex: 1 1 45%;
  max-width: 45%;
}

.main > .right {
  padding-left: 64px;
  background-color: white;
  flex: 1 1 45%;
  width: calc(45% - 64px);
}
