img {
  width: 950px;
  height: 1080px;
}
body {
  background-color: #010000;
}

.main {
  display: flex;
}

.icon {
  /* Vector */
  padding-top: 178px;
  padding-bottom: 57px;
  width: 527px;
  height: 171px;
}
label {
  width: 360px;
  margin-bottom: 8px;
  margin-top: 32px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  color: #ffffff;
}

small {
  width: 360px;
  height: 20px;
  display: inline-block;
  margin-bottom: 32px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  color: #949494;
}

input {
  width: 328px;
  height: 28px;
  padding: 14px 16px;
  margin-right: 16px;
  margin-top: 8px;

  background: #232323;

  box-shadow: inset 0px -9999px 0px rgba(0, 0, 0, 0.08);
  border: none;
  border-radius: 8px;

  /* Text */

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;

  color: #d5d5d5;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
} /* Remove arrows in Firefox */
input[type="number"] {
  appearance: textfield;
}

select {
  padding: 16px;

  width: 145px;
  height: 56px;

  background: #232323;
  /* _PressedOverlay */
  box-shadow: inset 0px -9999px 0px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  border: none;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;

  color: #d5d5d5;
}
select:nth-of-type(2) {
  margin-top: 8px;
  width: 343px;
}

button {
  margin-right: 8px;
  width: 256px;
  height: 53px;
  border: none;
  background: #ffffff;
  border-radius: 8px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;

  color: #000000;
}
button.isjungta {
  color: #c2c2c2;
}
button:nth-of-type(2) {
  width: 256px;
  height: 53px;
  background-color: black;

  border: 3px solid #fef6f5;
  border-radius: 8px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;

  color: #ffffff;
}

p {
  font-family: "PT Sans Caption";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;

  color: #ffffff;
  margin: 42px 0 16px;
}

button:hover {
  background: #f8918b;
}

button.isjungta:hover {
  background: #ffffff;
  color: #c2c2c2;
}

button:nth-of-type(2):hover {
  background: #fef6f5;
  color: #180301;
}

select:focus {
  background: #1f1f1f;
  outline: 3px solid #276ef1;
  border-radius: 8px;
}

input:focus {
  background: #1f1f1f;
  border: 3px solid #276ef1;
  border-radius: 8px;
  width: 322px;
  height: 22px;
}
