body {
  width: 527px;
  height: 1326px;
  padding-top: 90px;

  background: #e2e1e1;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin: 0 0 32px 136px;

  width: 276px;
  height: 345px;

  background: #ffffff;

  box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04),
    0px 2px 4px rgba(96, 97, 112, 0.16);
  border-radius: 12px;
}

.card:hover {
  border: 3px solid #3e7fe1;
  box-shadow: 8px 13px 23px 9px rgba(62, 127, 225, 0.3);
  border-radius: 15px;
}

.image_date {
  width: 276px;
  height: 208px;
}

img {
  border-radius: 12px 12px 0 0;
}
.date {
  margin: 0px;
  padding: 0px;
  position: relative;
  width: 56px;
  height: 56px;
  left: 204px;
  bottom: 30px;

  text-align: center;

  /* White/Fill */
  background: #ffffff;
  box-shadow: 0px 1px 1px rgba(40, 41, 61, 0.04),
    0px 1px 4px rgba(96, 97, 112, 0.16);
  border-radius: 12px;
}

.date :first-child {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  margin: 0px;
  padding: 5.8px 0px 0px 0px;

  color: #121212;
}
.date :nth-child(2) {
  position: relative;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  margin: 0px;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  top: -4px;
  color: #121212;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 16px;

  width: 250px;
  height: 138px;
}

.content :first-child {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;

  padding: 0px;
  margin: 0px;
  margin-bottom: 4px;

  letter-spacing: 0.2px;

  color: #959393;
}

.content :nth-child(2) {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  padding: 0px;
  margin: 0px;
  padding-bottom: 16px;
  color: #121212;
}
