.spalvos {
  display: flex;
  gap: 2px;

  margin-top: 8px;
  margin-bottom: 32px;
}

.spalvos .spalva {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.spalvos .pasirinkimas {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  border: 2px white solid;
}
.spalvos .pasirinkimas.pasirinktas {
  border: 2px black solid;
}
