.container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.configurator {
  background: white;
  padding: 96px 96px 48px 96px;
}

section.first {
  width: 100%;
  display: flex;
  gap: 20%;
}

section.first img {
  width: 100%;
}

section.first div:first-child {
  width: 70%;
  display: flex;
}
