.galerija {
  width: 100%;
  display: flex;
  gap: 14px;
  padding-right: 48px;
  justify-content: flex-end;
}
.nuotraukaMain:not(:hover) > .rodykle {
  display: none;
}

.nuotraukaMain {
  position: relative;
}
.nuotraukaMain > img.main {
  width: 536px;
  height: 800px;
  object-fit: cover;
  border-radius: 8px;
}

.nuotraukaMain > .rodykle {
  position: absolute;
  height: 38.33px;
  cursor: pointer;

  top: calc(50% - 38.33px / 2 + 0.17px);
}
.nuotraukaMain > .rodykle.right {
  left: 88.06%;
}
.nuotraukaMain > .rodykle.left {
  left: 4.48%;
}

.karusele {
  display: flex;
  flex-direction: column;

  gap: 17px;
}

.karusele > img {
  max-width: 112px;
  max-height: 130px;

  border-radius: 4px;
  cursor: pointer;
  object-fit: cover;
}

.karusele > img.pasirinktas {
  padding: 4px;

  border: 2px solid #f4bf03;
  border-radius: 8px;
}
